asgiref
backports.zoneinfo
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packaging
psycopg2-binary
PyJWT
python-dotenv
pytz
PyYAML
requests
simplejson
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
